/* .app-contain{
  background-color: aqua;
  height: 650px;
  width: 1365px;
  display: flex;
}

.fixed{
  background-color: rgb(4, 29, 29);
  
  position: fixed;

}

.scroll{
  background-color: rgb(148, 39, 115);
  height: 650px;
  width: 1365px;
} */